@use '../components/easter-eggs/nyan';

@font-face {
  font-family: 'InterVariable';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

$copy-color: #1a1a1a;

body {
  font-family: 'InterVariable', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: $copy-color;
}

.layout {
  h1,
  h2,
  h3,
  h4,
  h5 {
    // font-weight: bold;
    // margin-bottom: 1rem;
  }

  h2 {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
  }
}

p {
  margin-bottom: 1rem;
}

small p {
  margin-bottom: 0.5rem;
}

button {
  color: $copy-color;
  cursor: pointer;
}

.nav-indicator {
  color: $copy-color;
}

/*#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}*/

.main-container {
  min-height: 100vh;
  position: relative;
}

.background-visual {
  display: none;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-color: white;

  canvas {
    // opacity: 0.45;
    opacity: 0.8;
    height: 100% !important;
  }
}

/*@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/

.site-footer a {
  color: #fff;
}

// :root {
//   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   /*color: rgba(255, 255, 255, 0.87);*/
//   color: #fff;
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

a {
  font-weight: 500;
  /*color: #646cff;*/
  text-decoration: inherit;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

a:hover {
  /*color: #535bf2;*/
}

// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }

// button:hover {
//   border-color: #646cff;
// }

// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     /*color: #213547;*/
//     color: #fff;
//     background-color: #ffffff;
//   }
//   /*a:hover {
//     color: #747bff;
//   }*/
//   button {
//     background-color: #f9f9f9;
//   }
// }

.card h3 a {
  svg {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    width: 16px;
    height: 16px;
  }

  &:hover svg {
    transform: translate(0.25rem, -0);
  }
}

.nav {
  a:hover {
    .nav-indicator {
      background-color: #6a7282;
    }

    .nav-text {
      opacity: 1;
    }
  }
}

.active {
  .nav-indicator {
    width: 64px;
    background-color: #6a7282;
  }

  .nav-text {
    opacity: 1;
  }
}
