@import './variables';
@import '../layout/navigation';
@import '../layout/experience';
@import '../components/easter-eggs/nyan';
@import '../components/badge';
@import '../components/dark-mode-switch';

@font-face {
  font-family: 'InterVariable';
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'InterVariable', sans-serif;
  color: white;

  &.night {
    background-color: $dark-mode-bg;
    color: $dark-mode-color;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: $copy-color;

  body.night & {
    color: $dark-mode-color;
  }
}

.layout {
  h2 {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);

    body.night & {
      background: rgba(23, 28, 40, 0.75);
    }
  }
}

p {
  margin-bottom: 1rem;

  a {
    text-decoration: underline;
  }
}

small p {
  margin-bottom: 0.5rem;
}

button {
  color: $copy-color;
  cursor: pointer;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  min-height: 100vh;
  position: relative;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.external-link {
  font-weight: 700;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-weight: 600;
}
