// .badge-bg {
//   background-color: rgba(15, 24, 45, 0.9);
// }

.badge-3d {
  // color: black;
  // background-color: rgba(247, 247, 247, 0.5);
  // border: 1px solid black;

  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.15) 30%,
      rgba(255, 255, 255, 0) 50%
    ),
    #0f182d; /* Base color */
  // #000000; /* Base color */
  // color: white;
  color: #46edd5;
  font-weight: 600;
  border: none;
  // transition:
  //   transform 0.2s ease,
  //   box-shadow 0.2s ease;

  // &:hover {
  //   transform: translateY(-2px);
  //   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  // }
}

.badge {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: #0f182d;
  color: #46edd5;
  font-weight: 600;
  border: none;

  body.night & {
    border: 1px solid;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.5s;
  }

  &:hover::before {
    left: 100%;
  }
}

.badge-ios {
  padding: 12px 24px;
  border-radius: 16px;
  background:
    linear-gradient(to bottom, #ffffff55, #ffffff00),
    linear-gradient(to bottom, #6366f1, #4338ca);
  color: white;
  font-weight: 600;
  border: none;
  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.4),
    0 4px 10px rgba(0, 0, 0, 0.2);
  transition:
    box-shadow 0.25s ease,
    transform 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow:
      inset 0 2px 6px rgba(255, 255, 255, 0.5),
      0 6px 16px rgba(0, 0, 0, 0.25);
  }
}
