.badge-3d {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.15) 30%,
      rgba(255, 255, 255, 0) 50%
    ),
    #0f182d; /* Base color */
  color: #46edd5;
  font-weight: 600;
  border: none;
}

.badge {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: #0f182d;
  color: #46edd5;
  font-weight: 600;
  border: none;

  body.night & {
    border: 1px solid;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.5s;
  }

  &:hover::before {
    left: 100%;
  }
}
