.nav-indicator {
  color: $copy-color;
}

.nav {
  a:hover {
    .nav-indicator {
      background-color: $navigation-indicator-bg;
    }

    .nav-text {
      opacity: 1;
    }
  }
}

.active {
  .nav-indicator {
    width: 64px;
    background-color: $navigation-indicator-bg;
  }

  .nav-text {
    opacity: 1;
  }
}

.nav-text {
  body.night & {
    color: $dark-mode-color;
  }
}
